.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1471275287446-f463543ee84f?dpr=1&auto=compress,format&fit=crop&w=1050&h=&q=80&cs=tinysrgb&crop=");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  
}
.moby{
color: rgb(12, 12, 76);
font-weight: 900;
font-family: 'Modak', cursive;
}
.moby2{
  color: rgb(12, 62, 76);
  font-weight: 900;
  font-family: 'Nosifer', cursive;
}

.SongList{
  background-image: url("https://ak7.picdn.net/shutterstock/videos/15141127/thumb/1.jpg");
  /*("https://image.freepik.com/free-vector/abstract-background-design_1100-274.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  border: 6px solid rgb(243, 144, 74)
  /*background-color: greenyellow;*/
  
}

.Song{
  text-align: left;
  color: rgb(26, 26, 175);
}

.App-picture{
  height: 150px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: rgb(8, 8, 9);
  height: 150px;
  padding: 20px;
  color: rgb(2, 16, 28);
}

.App-title {
  font-size: 1.5em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
